{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Sitelinks:</h1>
        <ul class="list-unstyled">
            <li class="item"><a href="admin/users">User Management</a></li>
        </ul>
    </div>
{% endblock %}