{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Login</h1>
    <hr/>
    <form action="" method="post">
        <input type="text" id="username" name="username">
        <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
    </form>
    </div>
{% endblock %}